ol, ul {
    padding-left: 30px;
}
.board-row {
    display: flex;
}   
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #ffffff;
    border: 1px solid #f3f3f3;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 79px;
    height: 79px;
    width: 79px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    position: relative;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ffffff;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 200px;
}

.Walk {
    background-color: #ffffff;
}

.unWalk {
    background-color: var(--gray);
}

.tf90 {
    transform: rotate(270deg);
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.icon-stack-1x, 
.icon-stack-2x,
.icon-stack-3x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.icon-stack-1x {
    line-height: inherit;
}

.icon-stack-2x {
    font-size: 1.5em;
}

.icon-stack-3x {
    font-size: 2em;
}

.AGV-canvas {
    position: absolute;
}

.dynamic-i {
    top: 0px;
    left: 0px;
    
}

.AGV {
    opacity: 0.8;
    position: absolute;
    z-index: 09;
    top: 0px;
    left: 0px;
    font-size: 54px;
    color: var(--gray);
    transition: transform 2000ms cubic-bezier(0.57, 0.31, 0.21, 0.92);
    transition-property: top, left, transform;
}

.AGV-main {
    color: var(--ad-Color-sec);
}

.Shelf-Up {
    color: var(--ad-Color-del);
}

.icon-disable {
    display: none;
}