.AGV-main {
    font-size: 36px;
    color: var(--ad-Color-sec);
}

.Shelf-Up {
    color: var(--ad-Color-del);
}

.AGV-View-Container {
    height: 100%;
    width: 100%;
    display: flex;
    background: #dadada;
}
    .AGV-View-Container-main {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #dadada;
    }
        .AGV-View-Container-grid {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f3f3f3;
        }

        .AGV-View-Container-table {
            margin: 2px;
            border: 1px solid #ffffff;
        }

    .AGV-View-Container-controls {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20rem;
        background: var(--ad-Color-prim);
    }
    .AGV-View-Container-controls::-webkit-scrollbar {
        width: 6px;
    }

.AGV-View-Foot {
    padding: 1.5rem 2rem;
    display: flex;
    background: #fff;
    border-top: 2px solid #eee;
}
    .AGV-View-Foot-list {
        flex: 1;
    }
        .AGV-View-Foot-item {
            text-transform: uppercase;
            font-size: .7rem;
            color: var(--ad-Color-prim);
        }
        .AGV-View-Foot-item + .AGV-View-Foot-item {
            margin-top: .5rem;
        }
            .AGV-View-Foot-highlight{
                padding-bottom: .04rem;
                border-bottom: 2px solid var(--ad-Color-sec);
                font-weight: bold;
            }

.AGV-View-SVG {
    display: block;
    background: #fff;
    border-radius: 4px;
}
    .AGV-View-Grid {
        fill: none;
        stroke: #eee;
        stroke-width: 1px;
    }
    .AGV-View-Grid.is-is-hidden {
        opacity: 0;
    }
    .AGV-View-Path {
        fill: none;
        stroke: #555;
        stroke-width: 4px;
        stroke-linecap: round;
    }
    .AGV-View-Point {
        cursor: pointer;
        fill: #fff;
        stroke: #555;
        stroke-width: 5px;
        transition: fill .2s;
    }
    .AGV-View-Point:hover, .AGV-View-PointGroup.is-active .AGV-View-Point{
        fill: var(--ad-Color-sec);
    }
    .AGV-View-PointGroup--first .AGV-View-Point {
        stroke: var(--ad-Color-sec);
    }
    .AGV-View-Anchor {
        opacity: .5;
    }
    .AGV-View-PointGroup.is-active .AGV-View-Anchor { //Anchor翻譯: 虛
        opacity: 1;
    }
        .AGV-View-Anchor-point {
            cursor: pointer;
            fill: #fff;
            stroke: #888;
            stroke-width: 5px;
        }
        .AGV-View-Anchor-line {
            stroke: #888;
            stroke-width: 1px;
            stroke-dasharray: 5 5;
        }

.AGV-View-Controls {
    color: aquamarine;
    overflow: auto;
    flex: 1;
    padding: 2rem;
}
    .AGV-View-Controls :first-child{
        margin-top: 0;
    }
    .AGV-View-Controls-title {
        margin: 3rem 0 1.5rem;
        font-size: .8rem;
        font-weight: bold;
        color: #fff;
    }
        .AGV-View-Controls-container {
            display: flex;
        }
        .AGV-View-Container-controls + .AGV-View-Container-controls {
            margin-top: 1.5rem;
        }
.AGV-View-Control {
    flex: 1;
}
    .AGV-View-Control-label {
        display: block;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-size: .6rem;
        font-weight: bold;
        color: color(var(--text-color-white) l(+75%));
    }
.AGV-View-Result {
    height: 5rem;
    padding: 1.4rem 1.6rem;
    background: var(--ad-Color-prim);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .4);
}
    .AGV-View-Result-textarea {
        height: 100%;
        width: 100%;
        resize: none;
        border: none;
        background: none;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: .7rem;
        font-weight: bold;
        line-height: 1.8;
        color: #fff;
    }
    .AGV-View-Result-textarea:focus {
        outline: 0;
    }
.AGV-View-Button {
    padding: .8rem 1.4rem;
    background: var(--ad-Color-sec);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background .2s;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: .6rem;
    letter-spacing: .08rem;
    color: #fff;
}
    .AGV-View-Button:focus, .AGV-View-Button:hover {
        outline: 0;
        background: color(var(--ad-Color-sec) l(+5%));
    }

.AGV-View-Button--delete {
    background: var(--ad-Color-del);
}
    .AGV-View-Button--delete:focus, .AGC-View-Button--delete:hover {
        background: color(var(--ad-Color-del) l(+5%));
    }

    .AGV-View-Button--reset {
    background: color(var(--ad-Color-prim) l(+10%));
}
    .AGV-View-Button--reset:focus, .AGC-View-Button--reset:hover {
        background: color(var(--ad-Color-prim) l(+15%));
    }

.AGV-View-Text {
    height: 18px;
    width: 2rem;
    background: color(var(--ad-Color-prim) l(+10%));
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: .6rem;
    color: #fff;
}
    .AGV-View-Text:focus {
        outline: 0;
        background: color(var(--ad-Color-prim) l(+20%));
    }

.AGV-View-Checkbox-input {
    display: none;
}
.AGV-View-Checkbox-fake {
    position: relative;
    height: 14px;
    width: 2rem;
    background: color(var(--ad-Color-prim) l(+10%));
    border-radius: 30px;
}
    .AGV-View-Checkbox-fake::after {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        height: 18px;
        width: 18px;
        cursor: pointer;
        border: 4px solid #fff;
        background: color(var(--ad-Color-prim) l(+10%));
        border-radius: 50%;
    }
    .AGV-View-Checkbox-input:checked + .AGV-View-Checkbox-fake::after {
        left: auto;
        right: 0;
        border-color: var(--ad-Color-sec);
    }

.AGV-View-Choices {
    display: flex;
    width: 12rem;
}
    .AGV-View-Choice {
        flex: 1;
    }
        .AGV-View-Choice-input {
            display: none;
        }

        .AGV-View-Choice-fake {
            padding: .6rem;
            background: color(var(--ad-Color-prim) l(+10%));
            border: 4px solid transparent;
            transition: border .2s;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-size: .8rem;
            font-weight: bold;
            color: #fff;
        }
        .AGV-View-Choice:first-child .AGV-View-Choice-fake {
            border-radius: 4px 0 0 4px;
        }
        .AGV-View-Choice:last-child .AGV-View-Choice-fake {
            border-radius: 0 4px 4px 0;
        }
        .AGV-View-Choice-input:checked + .AGV-View-Choice-fake {
            border-color: var(--AGV-View-Color-sec);
        }
.AGV-View-Range {
    display: flex;
    align-items: center;
}
    .AGV-View-Range-text {
        margin-left: .5rem;
    }
    .AGV-Range-input {
        width: 100%;
        height: 14px;
        appearance: none;
        border-radius: 30px;
        background: color(var(--ad-Color-prim) l(+10%));
    }
        .AGV-View-Range-input:focus {
            outline: 0;
            background: color(var(--ad-Color-prim) l(+20%));
        }
        .AGV-Range-input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 18px;
            height: 18px;
            border: 4px solid #fff;
            background: color(var(--ad-Color-prim) l(+10%));
            border-radius: 50%;
            cursor: pointer;
            transition: border .2s;
        }
        .AGV-Range-input::-moz-range-thumb {
            -webkit-appearance: none;
            width: 18px;
            height: 18px;
            border: 4px solid #fff;
            background: color(var(--ad-Color-prim) l(+10%));
            border-radius: 50%;
            cursor: pointer;
            transition: border .2s;
        }
        .AGV-Range-input:hover::-webkit-slider-thumb, .AGV-View-Range-input:focus::-wibket-slider-thumb {
            border-color: var(--ad-Color-sec);
        }
        .AGV-Range-input:hover::-moz-range-thumb, .AGV-View-Range-input:focus::-moz-range-thumb {
            border-color: var(--ad-Color-sec);
        }